@tailwind base;
@tailwind components;
@tailwind utilities;
/* global.css */

/* Import Poppins Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

/* Apply Poppins Font Globally */
/* body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */
@font-face {
  font-family: 'Bokcero';
  src: url('/fonts/LeixoDemo-g613.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Bokcero', sans-serif;
}

/* You can also set specific styles for headings and paragraphs if needed */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600; /* Adjust weight as needed */
}

p {
  font-family: 'Poppins', sans-serif;
  font-weight: 400; /* Adjust weight as needed */
}

/* styles/globals.css */
@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .animate-fadeIn {
    animation: fadeIn 2s ease-in;
  }
  @keyframes bounceInfinite {
    0%, 100% {
      transform: translateY(-10%) rotate(30deg);
    }
    50% {
      transform: translateY(0) rotate(30deg);
    }
  }
  
  .animate-bounceInfinite {
    animation: bounceInfinite 2s infinite ease-in-out;
  }
  .step {
    position: relative;
    opacity: 0;
  }
  
  .step-0 {
    opacity: 1;
  }
  
  .stepContent {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .enter {
    animation: enter 0.5s ease-out forwards;
  }
  
  @keyframes enter {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .animate-slideIn {
    animation: slideIn 0.5s ease-out;
  }
  
  @keyframes slideIn {
    from {
      transform: translateX(100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  .animate-slideInLeft {
    animation: slideInLeft 0.5s ease-out;
  }
  
  @keyframes slideInLeft {
    from {
      transform: translateX(-100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  .animate-slideInRight {
    animation: slideInRight 0.5s ease-out;
  }
  
  @keyframes slideInRight {
    from {
      transform: translateX(100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  